<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sensorTag02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68F60BB81BFA0F8400D93F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F60BCC1BFA0F8400D93F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F60BD71BFA0F8400D93F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
